<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <div><a href="/selection">Selection</a></div>
        <div><a href="/drift">Drift</a></div>
        <div><a href="/selection_drift">Selection Drift</a></div>
        <div><a href="/drift_mutation">Drift Mutation</a></div>
        <div><a href="/drift_migration">Drift Migration</a></div>
        <div><a href="/w_bar">W bar</a></div>
        <hr>

        <h1>{{ title }}</h1>

        {% block content %}{% endblock %}
    </body>
</html>