<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    </head>
    <body>
        <div><a href="/selection">Selection</a></div>
        <div><a href="/drift">Drift</a></div>
        <div><a href="/selection_drift">Selection Drift</a></div>
        <div><a href="/drift_mutation">Drift Mutation</a></div>
        <div><a href="/drift_migration">Drift Migration</a></div>
        <div><a href="/w_bar">W bar</a></div>
        <hr>

        <h1>{{ title }}</h1>
   
    <!-- Form to input simulation parameters -->
    <label for='gens'>Number for Generations:</label>
    <input type='number' id='gens' name='gens' min='10' max='10000' value='100' required>
    <br>
    <label for='p'>Initial Allele Frequency (p):</label>
    <input type='number' id='p' name='p' min='0' max='1' step='0.01' value='0.1' required>
    <br>
    <label for='w11'>Fitness for A1A1 (w11):</label>
    <input type='number' id='w11' name='w11' value='1.2' step='0.1' required>
    <br>
    <label for='w12'>Fitness of A1A2 (w12):</label>
    <input type='number' id='w12' name='w12' value='1.0' step='0.1' required>
    <br>
    <label for='w22'>Fitness of A2A2 (w22):</label>
    <input type='number' id='w22' name='w22' value='0.8' step='0.1' required>
    <br>
    <button onclick='startSimulation()'>Start Simulation</button>

    <div id='graph'></div>

    <script>

        let gen = 0;
        let freqs = [];
        let socket = io('/selection', { path: '/selection/socket.io' });

        function startSimulation() {
            // get user input
            const gens = document.getElementById('gens').value;
            const p = document.getElementById('p').value;
            const w11 = document.getElementById('w11').value;
            const w12 = document.getElementById('w12').value;
            const w22 = document.getElementById('w22').value;

            // reset the sim
            socket.emit('reset', {
                gen: gen, 
                gens: gens, 
                p: p, 
                w11: w11,
                w12: w12,
                w22: w22, 
                freqs: freqs
            }, namespace = '/selection');

        }

        function fetchNextGen() {
            fetch('/next')
                .then(response => response.json())
                .then(data => {
                    freqs.push(data.freqs);
                    gen++;
                    updateGraph();

                    // check if simulation is done
                    if (gen < data.gens) {
                        fetchNextGen();
                    }
                });
        }

        function updateGraph() {
            let trace = {
                x: Array.from(Array(gen + 1).keys()),
                y: freqs,
                mode: 'lines',
                name: 'A1'
            };

            let layout = {
                title: 'Allele Frequency Over Evolutionary Time',
                xaxis: { title: 'Generation' },
                yaxis: { title: 'Frequency', range: [0, 1]}
            };

            // update the Plotly plot
            Plotly.newPlot('graph', [trace], layout);
        }

    </script>
    </body>
    </html>