body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-width: 800px;
    background-color: #DBFFFF;
}

#menu_label {
    font-size: 20px;
    color: #2C3E50;
    margin-left: 10px;
    position: fixed;
    border: 7px solid #00C3C3;
    top: 0;
    left: 10px;
    z-index: 1;
    width: 165px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: #8EC7D2;
}

/* Style for the sidebar */
#menu {
    height: 100%;
    width: 180px;
    margin-top: 90px;
    padding-top: 10px;
    padding-left: 20px;
    /* Create space for the menu label */
    position: fixed;
    top: 0;
    left: 0;
    /* Optional: add a background color for the sidebar */
}

/* Style the list inside the sidebar */
#menu ul {
    list-style-type: none;
    padding: 10px;
    border-radius: 15px;
    border: 7px solid #00C3C3;
    background-color: #8EC7D2;
}

#menu ul li {
    padding: 10px;
    text-align: left;
}

#menu ul li a {
    text-decoration: none;
    color: #2C3E50;
    display: block;
}

#menu ul li a:hover {
    color: #FFF;
    border-radius: 5px;
    padding: 5px;
    background-color: #00C3C3;
}

/* Page content */
#title {
    width: 635px;
    height: 40px;
    margin-left: 220px;
    border: 7px solid #00C3C3;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    color: #2C3E50;
    text-align: center;
    /* Same width as the sidebar */
    padding: 20px;
    background-color: #8EC7D2;
}

h1 {
    margin-top: 5px;
}

#plot {
    width: 655px;
    height: 435px;
    margin-left: 220px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* Same width as the sidebar + some extra space */
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 15px;
    background-color: #FFF;
    border: 7px solid #00C3C3
}

#settings {
    width: 635px;
    color: #2C3E50;
    margin-left: 220px;
    margin-right: 10px;
    border-radius: 15px;
    padding: 20px;
    background-color: #8EC7D2;
    border: 7px solid #00C3C3
}

#credits {
    margin-left: 230px;
    font-size: 12px;
    color: #2C3E50;
}

#stats {
    margin-top: 0;
    text-align: center;
}

/* Basic button styling */
button {
    background-color: #00C3C3;
    color: #2C3E50;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Hover effect */
button:hover {
    background-color: #7599bd;
    /* Darker green on hover */
}

/* Active state */
button:active {
    background-color: #7599bd;
    /* Even darker green when clicked */
}

select {
    width: 15%;
    padding: 5px;
    margin: 4px 0;
    border: 1px solid #00C3C3;
    border-radius: 5px;
    background-color: #DBFFFF;
    font-size: 14px;
    box-sizing: border-box;
    appearance: none;
}



/* General style for input elements */
input[type="number"] {
    width: 15%;
    padding: 5px;
    margin: 4px 0;
    border: 1px solid #00C3C3;
    border-radius: 5px;
    background-color: #DBFFFF;
    box-sizing: border-box;
    font-size: 14px;
    appearance: none;
}