{% extends 'index.html' %}

{% block title %}<h1>{{ title }}</h1>{% endblock %}

{% block plotscript %}
<script>
    // Fetch the plot data from the Flask server and render it
    fetch('/mut_plot', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            allele_frequencies: []  // Update the key to match what the server expects
        })
    })
    .then(response => response.json())
    .then(data => {
        const plotDiv = document.getElementById('plot');
        Plotly.newPlot(plotDiv, data.data, data.layout);
    });
</script>

<p id='stats'>μ: σ²:</p>
{% endblock %}

{% block settings %}

<label for='pop'>Population Size:</label>
<select name='pop' id='pop'>
    <option value='25'>25</option>
    <option value='100'>100</option>
    <option value='250'>250</option>
</select>
<label for='mu'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;mu:</label>
<select name='mu' id='mu'>
    <option value='0'>None</option>
    <option value='0.0001'>0.0001</option>
    <option value='0.001'>0.001</option>
    <option value='0.01'>0.01</option>
</select>
<br>
<button onclick='startSimulation()'>Start</button>
<button onclick='clearGraph()'>Clear</button>

<script>

    function startSimulation() {
        fetch('/mut_reset', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                pop: parseInt(document.getElementById('pop').value),
                mu: parseFloat(document.getElementById('mu').value)
            })
        })
        .then(response => response.json())
        .then(data => {
            allele_frequencies = [];  // Update the key to match what the server expects

            updateSimulation();
        })
    }

    function updateSimulation() {
        fetch('/mut_next', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            fetch('/mut_plot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    allele_frequencies: data.pop_freqs // Update the key to match what the server expects
                })
            })
            .then(response => response.json())
            .then(data => {
                const plotDiv = document.getElementById('plot');
                Plotly.newPlot(plotDiv, data.data, data.layout);

                document.getElementById('stats').textContent = 
                    'μ:'+ calculateMean(data.data[0].x) + '\tσ²:' + calculateVariance(data.data[0].x);
            });
        });
    }

    function calculateMean(arr) {
        const sum = arr.reduce((acc, val) => acc + val, 0);
        return (sum / arr.length).toFixed(5);
    }

    function calculateVariance(arr) {
        const mean = calculateMean(arr);
        const squaredDifferences = arr.map(val => (val - mean) ** 2);
        const variance = squaredDifferences.reduce((acc, val) => acc + val, 0) / arr.length;
        return variance.toFixed(5);
    }

    function clearGraph() {
        fetch('/mut_clear', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            const plotDiv = document.getElementById('plot');
            Plotly.react(plotDiv, data.data, data.layout);
        });
    }

</script>

{% endblock %}