{% extends 'index.html' %}

{% block title %}<h1>{{ title }}</h1>{% endblock %}

{% block settings %}

<label for='init_freq'>Inital Frequency:</label>
<select name='init_freq' id='init_freq'>
    <option value='0.1'>0.1</option>
    <option value='0.5'>0.5</option>
    <option value='0.9'>0.9</option>
</select>
<label for='pop'>Population:</label>
<select name='pop' id='pop'>
    <option value='10'>10</option>
    <option value='25'>25</option>
    <option value='50'>50</option>
    <option value='100'>100</option>
    <option value='250'>250</option>
    <option value='1000'>1000</option>
</select>
<label for='gens'>Generations:</label>
<select name='gens' id='gens'>
    <option value='50'>50</option>
    <option value='100'>100</option>
    <option value='250'>250</option>
    <option value='1000'>1000</option>
    <option value='2500'>2500</option>
</select>
<br>
<button onclick='startSimulation()'>Start</button>
<button onclick='clearGraph()'>Clear</button>

<script>

    function startSimulation() {
        console.log(parseInt(document.getElementById('gens').value))
        fetch('/d_reset', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                init_freq: parseFloat(document.getElementById('init_freq').value),
                pop: parseInt(document.getElementById('pop').value),
                gens: parseInt(document.getElementById('gens').value)
            })
        })
        .then(response => response.json())
        .then(data => {
            updateSimulation(data);
        });
    }

    function updateSimulation() {
        fetch('/d_next', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            fetch('/plot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    freqs: data.freqs
                })
            })
            .then(response => response.json())
            .then(data => {
                const plotDiv = document.getElementById('plot');
                Plotly.react(plotDiv, data.data, data.layout);
            });
        })
    }
    
    function clearGraph() {
        fetch('/clear', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            const plotDiv = document.getElementById('plot');
            Plotly.react(plotDiv, data.data, data.layout);
        });
    }

</script>

{% endblock %}