<!DOCTYPE html>
<html>
    <head>
        <title>GeneSims</title>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <link rel='stylesheet' type='text/css' href='../static/style.css'>
    </head>
    <body>
        <div id='title'> 
            {% block title %}{% endblock %}
        </div>
        <div id='menu_label'>
            <h2>Menu</h2>
        </div>
        <div id='menu'>
            <ul>
                <li><a href='/selection'>Selection</a></li>
                <li><a href='/selection_drift'>Selection with Drift</a></li>
                <li><a href='/drift'>Basic Drift</a></li>
                <li><a href='/drift_mutation'>Drift with Mutation</a></li>
                <li><a href='/drift_migration'>Drift with Migration</a></li>
                <li><a href='/w_bar'>W Bar</a></li>
            </ul>
        </div>
        <div id='plot'>
            {% block plotscript %}
            <script>
                // Fetch the plot data from the Flask server and render it
                fetch('/plot', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        freqs: []
                    })
                })
                .then(response => response.json())
                .then(data => {
                    const plotDiv = document.getElementById('plot');
                    Plotly.newPlot(plotDiv, data.data, data.layout);
                });
            </script>
            {% endblock %}
        </div>
        <div id='settings'>
            {% block settings %}{% endblock %}
        </div>
        <div id='credits'>
            <p>GeneSims created by Mohammed Tazwar ©2025, University of Georgia</p>
        </div>
    </body>
</html>