<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        {% block title %}{% endblock %}
        <div id="menu">
            <ul>
                <li><a href="/selection">Selection</a></li>
                <li><a href="/selection_drift">Selection with Drift</a></li>
            </ul>
        </div>
        <div id="plot">
            <script>
                // Fetch the plot data from the Flask server and render it
                fetch('/plot', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            freqs: []
                        })
                    })
                    .then(response => response.json())
                    .then(data => {
                        const plotDiv = document.getElementById('plot');
                        Plotly.newPlot(plotDiv, data.data, data.layout);
                    });
            </script>
        </div>
        <div id="settings">
            {% block settings %}{% endblock %}
        </div>
    </body>
</html>