{% extends 'index.html' %}

{% block title %}<h1>{{ title }}</h1>{% endblock %}

{% block settings %}

<label for='gens'>Number for Generations:&nbsp;&nbsp;&nbsp;&nbsp;</label>
<select name='gens' id='gens'>
    <option value='10'>10</option>
    <option value='50'>50</option>
    <option value='100'>100</option>
    <option value='500'>500</option>
    <option value='1000'>1000</option>
    <option value='5000'>5000</option>
    <option value='10000'>10000</option>
</select>
<label for='w11'>Fitness for A1A1 (w11):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<select name='w11' id='w11'>
    <option value='1.0'>1.0</option>
    <option value='0.9'>0.9</option>
    <option value='0.8'>0.8</option>
    <option value='0.7'>0.7</option>
    <option value='0.6'>0.6</option>
</select>
<label for='w12'>Fitness of A1A2 (w12):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<select name='w12' id='w12'>
    <option value='1.0'>1.0</option>
    <option value='0.9'>0.9</option>
    <option value='0.8'>0.8</option>
    <option value='0.7'>0.7</option>
    <option value='0.6'>0.6</option>
</select>
<label for='w22'>Fitness of A2A2 (w22):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<select name='w22' id='w22'>
    <option value='1.0'>1.0</option>
    <option value='0.9'>0.9</option>
    <option value='0.8'>0.8</option>
    <option value='0.7'>0.7</option>
    <option value='0.6'>0.6</option>
</select>
<label for='pop'>Population
    Size&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
<select name='pop' id='pop'>
    <option value='10'>10</option>
    <option value='25'>25</option>
    <option value='50'>50</option>
    <option value='100'>100</option>
    <option value='500'>500</option>
    <option value='1000'>1000</option>
    <option value='5000'>5000</option>
    <option value='10000'>10000</option>
</select>
<label for='p'>Initial Allele Frequency (p):&nbsp;</label>
<input type='number' id='p' name='p' min='0' max='1' step='0.01' value='0.1' required>
<br>
<button onclick='startSimulation()'>Start</button>
<button onclick='clearGraph()'>Clear</button>

<script>
    function startSimulation() {
        fetch('/sd_reset', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                gens: document.getElementById('gens').value,
                p: document.getElementById('p').value,
                w11: document.getElementById('w11').value,
                w12: document.getElementById('w12').value,
                w22: document.getElementById('w22').value,
                pop: document.getElementById('pop').value
            })
        })
            .then(response => response.json())
            .then(data => {
                freqs = [];
                gen = 0;
                updateSimulation();
            })
    }

    function updateSimulation() {
        fetch('/sd_next', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                fetch('/plot', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        freqs: data.freqs
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        const plotDiv = document.getElementById('plot');
                        Plotly.react(plotDiv, data.data, data.layout);
                    });
            })
    }

    function clearGraph() {
        fetch('/clear', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                const plotDiv = document.getElementById('plot');
                Plotly.react(plotDiv, data.data, data.layout);
            });
    }

</script>

{% endblock %}